

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'html' -->
<!-- FILE NAME SUGGESTIONS:
   * html--node--22.html.twig
   * html--node--%.html.twig
   * html--node.html.twig
   x html.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/html/html.html.twig' -->
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">
  <head>
    <meta charset="utf-8" />
<meta name="twitter:card" content="summary_large_image" />
<link rel="canonical" href="form-item.html" />
<meta property="og:site_name" content="Compony" />
<meta name="robots" content="index, follow" />
<meta name="twitter:description" content="Default theming for form-item components and some extra functionality.

Better classes

The classes on form-element-label are now:


{%
  set wrapper_classes = [
    &#039;form-item__label&#039;,
    variation ? &#039;form-item__label--&#039; ~ variation,
    title_display == &#039;invisible&#039; ? &#039;form-item__label--visually-hidden&#039;,
    required ? &#039;is-required&#039;,
  ]
%}

Which gives you the following classes:


.form-item__label {}

// In case you&#039;ve added a variation from the backend
.form-item__label--my-custom-variation {}

// In case a label is visually hidden
.form-item__label--visually-hidden {}

// In case the form item is required
.is-required {}


Making more variables available in Twig

In this component 1 extra variable have been added that is available in the template: 

{{ variation }} can contain any string, that is passed along from the backend.

An example of how this works can be found in the Checkbox component.

Some very basic CSS

Some resetting CSS to keep the theming sane." />
<meta name="description" content="Default theming for form-item components and some extra functionality.

Better classes

The classes on form-element-label are now:


{%
  set wrapper_classes = [
    &#039;form-item__label&#039;,
    variation ? &#039;form-item__label--&#039; ~ variation,
    title_display == &#039;invisible&#039; ? &#039;form-item__label--visually-hidden&#039;,
    required ? &#039;is-required&#039;,
  ]
%}

Which gives you the following classes:


.form-item__label {}

// In case you&#039;ve added a variation from the backend
.form-item__label--my-custom-variation {}

// In case a label is visually hidden
.form-item__label--visually-hidden {}

// In case the form item is required
.is-required {}


Making more variables available in Twig

In this component 1 extra variable have been added that is available in the template: 

{{ variation }} can contain any string, that is passed along from the backend.

An example of how this works can be found in the Checkbox component.

Some very basic CSS

Some resetting CSS to keep the theming sane." />
<meta name="twitter:site" content="@Compony_io" />
<meta name="twitter:title" content="Form item by Mathieu Spillebeen" />
<meta property="og:type" content="Component" />
<meta property="og:title" content="Form item" />
<meta name="twitter:dnt" content="on" />
<meta property="og:description" content="Default theming for form-item components and some extra functionality.

Better classes

The classes on form-element-label are now:


{%
  set wrapper_classes = [
    &#039;form-item__label&#039;,
    variation ? &#039;form-item__label--&#039; ~ variation,
    title_display == &#039;invisible&#039; ? &#039;form-item__label--visually-hidden&#039;,
    required ? &#039;is-required&#039;,
  ]
%}

Which gives you the following classes:


.form-item__label {}

// In case you&#039;ve added a variation from the backend
.form-item__label--my-custom-variation {}

// In case a label is visually hidden
.form-item__label--visually-hidden {}

// In case the form item is required
.is-required {}


Making more variables available in Twig

In this component 1 extra variable have been added that is available in the template: 

{{ variation }} can contain any string, that is passed along from the backend.

An example of how this works can be found in the Checkbox component.

Some very basic CSS

Some resetting CSS to keep the theming sane." />
<meta property="og:image" content="http://compony.docker.amazee.io" />
<meta name="Generator" content="Drupal 8 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="../themes/compony/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="revision" href="form-item.html" />

    <title>Form item by Mathieu Spillebeen</title>
    <link rel="stylesheet" media="all" href="../core/assets/vendor/normalize-css/normalize-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/misc/normalize-fixes-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/ajax-progress.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/align.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/autocomplete-loading.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/fieldgroup.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/container-inline.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/details.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/hidden.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/item-list.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/js.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/nowrap.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/position-container.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/progress.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/reset-appearance.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/resize.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/sticky-header.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/system-status-counter-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/system-status-report-counters-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/system-status-report-general-info-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/tabledrag.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/tablesort.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/system/components/tree-child.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/stable/css/views/views.module-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../libraries/codesnippet/lib/highlight/styles/github-qzfoxf.css" />
<link rel="stylesheet" media="all" href="http://compony.docker.amazee.io/themes/compony/components/node/node--component/node--component--full/dist/node--component--full.css?qzfoxf" />
<link rel="stylesheet" media="all" href="../themes/compony/components/fieldset/fieldset/dist/fieldset-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/form-item/form-item__label/dist/form-item__label-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/form-item/form-item/dist/form-item-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../core/themes/classy/css/components/progress-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/_global/dist/style-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/geshifilter/dist/geshifilter-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/wysiwyg-content/dist/wysiwyg-content-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/block/block--footer-sponsor-block/dist/block--footer-sponsor-block-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/user/user--compact/dist/user--compact-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/text-dropdown/dist/text-dropdown-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/form/form/dist/form-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/ajax-button/dist/ajax-button-qzfoxf.css" />
<link rel="stylesheet" media="all" href="http://compony.docker.amazee.io/themes/compony/components/node/node--component-collection/node--component-collection--button/dist/node--component-collection--button.css?qzfoxf" />
<link rel="stylesheet" media="all" href="../themes/compony/components/breadcrummy/dist/breadcrummy-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/block/block--page-title-block/block--page-title-block/dist/block--page-title-block-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/view-filter-searchglass/dist/view-filter-searchglass-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/block/block--system-menu-block/block--system-menu-block--account/dist/block--system-menu-block--account-qzfoxf.css" />
<link rel="stylesheet" media="all" href="../themes/compony/components/micromodal/dist/micromodal-qzfoxf.css" />
<link rel="stylesheet" media="all" href="http://compony.docker.amazee.io/themes/compony/components/block/block--views-block--my-collections-button-list/dist/block--views-block--my-collections-button-list.css?qzfoxf" />

    
<!--[if lte IE 8]>
<script src="../core/assets/vendor/html5shiv/html5shiv.min-v=3.7.3.js"></script>
<![endif]-->

  </head>
  <body>
        <a href="form-item.html#main-content" class="visually-hidden focusable">
      Skip to main content
    </a>
    
    

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'off_canvas_page_wrapper' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/off-canvas-page-wrapper.html.twig' -->
  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'page' -->
<!-- FILE NAME SUGGESTIONS:
   * page--node--component.html.twig
   * page--node--22.html.twig
   * page--node--%.html.twig
   * page--node.html.twig
   x page.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/page/page.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'region' -->
<!-- FILE NAME SUGGESTIONS:
   * region--fixed.html.twig
   x region.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/region/region/region.html.twig' -->



      <div class="region region--fixed">
              

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--views-block--my-collections-button-list-2.html.twig
   x block--views-block--my-collections-button-list.html.twig
   * block--views-block.html.twig
   * block--views.html.twig
   * block.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/block/block--views-block--my-collections-button-list/block--views-block--my-collections-button-list.html.twig' -->


  

<div class="views-element-container block block--views block--views-blockmy-collections-button-list block--views-block__my-collections-button-list-2" id="block-views-block-my-collections-button-list-2">
  <div class="funky-background"></div>

  <div class="block__inner">
    

              
    

          

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'container' -->
<!-- BEGIN OUTPUT from 'themes/compony/components/container/container.html.twig' -->

<div>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view__my_collections__button_list' -->
<!-- FILE NAME SUGGESTIONS:
   x views-view--my-collections--button-list.html.twig
   * views-view--my-collections.html.twig
   x views-view--my-collections--button-list.html.twig
   * views-view--my-collections.html.twig
   x views-view--my-collections--button-list.html.twig
   * views-view.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/views-view/views-view--my-collections--button-list/views-view--my-collections--button-list.html.twig' -->



<div class="views-view views-view--my-collections views-view--my-collections--button-list js-view-dom-id-34fdd8e88cb0febcf41a2c8154cc022410a4b5042dd6522bc7535ee241bf6840">
  

    <h3>Add to collection</h3>

  
        
        
  
      <button class="create-collection-button" name="create_new_collection">Create new collection</button>

          </div>


<!-- END OUTPUT from 'themes/compony/components/views-view/views-view--my-collections--button-list/views-view--my-collections--button-list.html.twig' -->

</div>

<!-- END OUTPUT from 'themes/compony/components/container/container.html.twig' -->


      </div>
</div>

  

  <div class="modal micromodal-slide" id="modal-create-new-collection" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <button class="modal--custom__close" aria-label="Close modal" data-micromodal-close>
            <svg aria-hidden="true" class="modal--custom__close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.239 174.239">
              <path d="M87.12 0C39.082 0 0 39.082 0 87.12s39.082 87.12 87.12 87.12 87.12-39.082 87.12-87.12S135.157 0 87.12 0zm0 159.305c-39.802 0-72.185-32.383-72.185-72.185S47.318 14.935 87.12 14.935s72.185 32.383 72.185 72.185-32.384 72.185-72.185 72.185z"/>
              <path d="M120.83 53.414c-2.917-2.917-7.647-2.917-10.559 0L87.12 76.568 63.969 53.414c-2.917-2.917-7.642-2.917-10.559 0s-2.917 7.642 0 10.559l23.151 23.153-23.152 23.154a7.464 7.464 0 0 0 0 10.559 7.445 7.445 0 0 0 5.28 2.188 7.437 7.437 0 0 0 5.28-2.188L87.12 97.686l23.151 23.153a7.445 7.445 0 0 0 5.28 2.188 7.442 7.442 0 0 0 5.28-2.188 7.464 7.464 0 0 0 0-10.559L97.679 87.127l23.151-23.153a7.465 7.465 0 0 0 0-10.56z"/>
            </svg>
          </button>
        </header>
        <main class="modal__content" id="modal-1-content">
          

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form' -->
<!-- FILE NAME SUGGESTIONS:
   * form--create-component-collection-form.html.twig
   x form.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/form/form/form.html.twig' -->





<form class="create-component-collection-form form form--create-component-collection-form" data-drupal-selector="create-component-collection-form" action="/component/form-item" method="post" id="create-component-collection-form" accept-charset="UTF-8">
      <h1>Create a collection</h1><a href="http://compony.docker.amazee.io/user/0/edit">Please log in before you can create a collection.</a>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__hidden' -->
<!-- FILE NAME SUGGESTIONS:
   * input--hidden.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->
<input autocomplete="off" data-drupal-selector="form-n4thw5pkt43jp7i1vjpur5qg5nhslx2sk7sv6ou59bg" type="hidden" name="form_build_id" value="form-n4Thw5pKt43jp7I1vJPUR5qG5NHSLX2SK7SV6oU59Bg" />

<!-- END OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__hidden' -->
<!-- FILE NAME SUGGESTIONS:
   * input--hidden.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->
<input data-drupal-selector="edit-create-component-collection-form" type="hidden" name="form_id" value="create_component_collection_form" />

<!-- END OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->


  </form>


<!-- END OUTPUT from 'themes/compony/components/form/form/form.html.twig' -->


        </main>
      </div>
    </div>
  </div>

<!-- END OUTPUT from 'themes/compony/components/block/block--views-block--my-collections-button-list/block--views-block--my-collections-button-list.html.twig' -->


      
          </div>
  

<!-- END OUTPUT from 'themes/compony/components/region/region/region.html.twig' -->



<div class="page-content clearfix">
    <svg aria-hidden="true" viewBox="0 0 1005 22" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#FFE269" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/><g transform="translate(90)"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#E94D27" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/></g><g transform="translate(180)"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#8ACBBC" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/></g><g transform="translate(270)"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#FFE269" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/></g><g transform="translate(360)"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#E94D27" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/></g><g transform="translate(450)"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#8ACBBC" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/></g><g transform="translate(540)"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#FFE269" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/></g><g transform="translate(630)"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#8ACBBC" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/></g><g transform="translate(720)"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#E94D27" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/></g><g transform="translate(810)"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#FFE269" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/></g><g transform="translate(900)"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#8ACBBC" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/></g><g transform="translate(990)"><path d="M12.882 8.941A7.62 7.62 0 0 1 12 7.53c-.706-1.853-2.47-3.176-4.588-3.176S3.529 5.676 2.824 7.529c-.177.53-.442.971-.795 1.412C.706 10.441 0 12.382.176 14.588c.353 3.353 3.089 6.088 6.442 6.53 4.411.44 8.117-2.912 8.117-7.236 0-1.94-.706-3.617-1.853-4.94z" fill="#FFE269" fill-rule="nonzero"/><rect fill="#444" x="4" width="7" height="5" rx="1.5"/></g></g></svg>

  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'region' -->
<!-- FILE NAME SUGGESTIONS:
   x region--header.html.twig
   * region.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/region/region--header/region--header.html.twig' -->



      <header class="region region--header">
      <button class="menu__toggle" aria-expanded="false">
        <svg aria-hidden="true" viewBox="0 0 296 362" xmlns="http://www.w3.org/2000/svg"><title>three-rectangles-symbol</title><path d="M145.234 361.56H15.918c-8.451 0-15.301-6.848-15.301-15.3 0-8.452 6.85-15.3 15.301-15.3h129.316c8.451 0 15.299 6.848 15.299 15.3 0 8.451-6.847 15.3-15.299 15.3zm134.64-165.241H15.918c-8.451 0-15.301-6.848-15.301-15.3 0-8.451 6.85-15.3 15.301-15.3h263.956c8.452 0 15.3 6.849 15.3 15.3-.001 8.452-6.849 15.3-15.3 15.3zM200.314 31.08H15.918C7.467 31.08.617 24.231.617 15.78.617 7.328 7.467.479 15.918.479h184.396c8.451 0 15.299 6.849 15.299 15.301 0 8.451-6.847 15.3-15.299 15.3z"/></svg>
        <span class="visually-hidden">menu</span>
      </button>

      <div class="region__inner">
        

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--anonymousmenu.html.twig
   x block--system-menu-block--anonymous-menu.html.twig
   * block--system-menu-block.html.twig
   * block--system.html.twig
   * block.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/block/block--system-menu-block/block--system-menu-block--anonymous-menu/block--system-menu-block--anonymous-menu.html.twig' -->

  
  
<nav role="navigation" aria-labelledby="block-anonymousmenu-menu" id="block-anonymousmenu" class="menu--fixed block block-menu navigation menu--anonymous-menu">
            
  <h2 class="visually-hidden" id="block-anonymousmenu-menu">Anonymous menu</h2>
  

      <a class="main-logo" href="../index.html">
    <svg aria-hidden="true" viewBox="0 0 414 436" xmlns="http://www.w3.org/2000/svg"><title>Group</title><defs><linearGradient x1="275.951%" y1="-4.946%" x2="-19.748%" y2="73.716%" id="a"><stop stop-color="#C9C9C9" offset="0%"/><stop stop-color="#656565" offset="100%"/></linearGradient><linearGradient x1="195.491%" y1="17.153%" x2="-6.418%" y2="67.927%" id="b"><stop stop-color="#C9C9C9" offset="0%"/><stop stop-color="#656565" offset="100%"/></linearGradient><linearGradient x1="135.934%" y1="6.627%" x2="-76.258%" y2="122.771%" id="c"><stop stop-color="#C9C9C9" offset="0%"/><stop stop-color="#656565" offset="100%"/></linearGradient><linearGradient x1="290.194%" y1="-94.118%" x2="-153.069%" y2="187.771%" id="d"><stop stop-color="#C9C9C9" offset="0%"/><stop stop-color="#656565" offset="100%"/></linearGradient><linearGradient x1="344.37%" y1="24.96%" x2="-1087.922%" y2="168.022%" id="e"><stop stop-color="#C9C9C9" offset="0%"/><stop stop-color="#656565" offset="100%"/></linearGradient><linearGradient x1="142.444%" y1="26.145%" x2="-162.502%" y2="117.909%" id="f"><stop stop-color="#C9C9C9" offset="0%"/><stop stop-color="#656565" offset="100%"/></linearGradient><linearGradient x1="132.629%" y1="29.778%" x2="-269.807%" y2="158.145%" id="g"><stop stop-color="#C9C9C9" offset="0%"/><stop stop-color="#656565" offset="100%"/></linearGradient></defs><g fill="none" fill-rule="evenodd"><g fill-rule="nonzero"><path fill="url(#a)" d="M71.2 208.5l-35.7 30.3L11 259.6l117.9 90.1L166 378z"/><path fill="url(#b)" d="M93.7 172.4l82.7 224.2L0 276l200.8 159L227 282.7z"/><path fill="url(#c)" d="M131.2 184.6L239 259.5l108.2-114.8z"/><path fill="url(#d)" d="M205.4 155.6l-39.8-37-63.6 47.3z"/><path fill="url(#e)" d="M310.3 97.4l-23.8-29.6 20-63.6L286 26.8l-7.7 36.9z"/><path fill="url(#f)" d="M269.8 65.9l6.3-28L284.3.8l-60.6 80.1-46 26.8 41.6 38.4 22.1-4 86.6-15.5z"/><path d="M390.7 202.4l-33.1-45.5-73.5 81.7 69.2 20.7c16.3 4.9 33.9-2.8 41-18v-.1c6-12.7 4.6-27.5-3.6-38.8z" fill="url(#g)"/></g><g fill="#EB5000" font-size="46" font-weight="700" letter-spacing=".369"><text transform="translate(218 278)"><tspan x="31" y="35">Brought</tspan></text><text transform="translate(218 278)"><tspan x="14" y="96">to you by</tspan></text><text id="sponsor_content" transform="translate(218 278)"><tspan x="0" y="157">no-one</tspan></text></g></g></svg>

    <span class="visually-hidden">
      Homepage of Compony, brought to you by no-one    </span>
  </a>

  
  <div class="view-filters view-filter-searchglass">
    <!-- To know what the id's are: drush ev "print_r(array_keys(\Drupal::service('plugin.manager.block')->getDefinitions()));" -->
    

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--views-exposed-filter-block--search-page-1.html.twig
   * block--views-exposed-filter-block.html.twig
   * block--views.html.twig
   x block.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/block/block/block.html.twig' -->



<div class="block block--views block--views-exposed-filter-blocksearch-page-1 block--">
  <div class="funky-background"></div>

  <div class="block__inner">
    

                  <h2>Search</h2>
          
    

          

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form' -->
<!-- FILE NAME SUGGESTIONS:
   * form--views-exposed-form.html.twig
   x form.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/form/form/form.html.twig' -->





<form class="views-exposed-form form form--views-exposed-form" data-drupal-selector="views-exposed-form-search-page-1" action="/search" method="get" id="views-exposed-form-search-page-1" accept-charset="UTF-8">
      

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_exposed_form' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/views/views-exposed-form.html.twig' -->
<div class="form--inline clearfix">
  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form_element' -->
<!-- BEGIN OUTPUT from 'themes/compony/components/form-item/form-item/form-element.html.twig' -->



<div class="js-form-item form-item js-form-type-textfield form-item--textfield js-form-item-search-api-fulltext form-item--search-api-fulltext">
      

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form_element_label' -->
<!-- BEGIN OUTPUT from 'themes/compony/components/form-item/form-item__label/form-element-label.html.twig' -->






<div  class="form-item__label form-item__label--default">
    <label for="edit-search-api-fulltext">
              <span class="label-helper"></span>
      
      <span class="label-text">Search</span>

          </label>
  </div>
<!-- END OUTPUT from 'themes/compony/components/form-item/form-item__label/form-element-label.html.twig' -->


  
  
      
    

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__textfield' -->
<!-- FILE NAME SUGGESTIONS:
   * input--textfield.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->
<input placeholder="Search" data-drupal-selector="edit-search-api-fulltext" type="text" id="edit-search-api-fulltext" name="search_api_fulltext" value="" size="30" maxlength="128" class="form-text" />

<!-- END OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->



      
  
  
  </div>

<!-- END OUTPUT from 'themes/compony/components/form-item/form-item/form-element.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'container' -->
<!-- BEGIN OUTPUT from 'themes/compony/components/container/container.html.twig' -->

<div data-drupal-selector="edit-actions" class="form-actions form-wrapper--edit-actions--3 js-form-wrapper form-wrapper" id="edit-actions--3">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__submit' -->
<!-- FILE NAME SUGGESTIONS:
   * input--submit.html.twig
   * input--submit.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->
<input data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search" value="Apply" class="button js-form-submit form-submit" />

<!-- END OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->

</div>

<!-- END OUTPUT from 'themes/compony/components/container/container.html.twig' -->


</div>

<!-- END OUTPUT from 'core/themes/classy/templates/views/views-exposed-form.html.twig' -->


  </form>


<!-- END OUTPUT from 'themes/compony/components/form/form/form.html.twig' -->


      </div>
</div>


<!-- END OUTPUT from 'themes/compony/components/block/block/block.html.twig' -->


  </div>

  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'menu__anonymous_menu' -->
<!-- FILE NAME SUGGESTIONS:
   x menu--anonymous-menu.html.twig
   x menu--anonymous-menu.html.twig
   * menu.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/menu/menu--anonymous-menu/menu--anonymous-menu.html.twig' -->

    <ul class="menu-main__container">
                <li  >
                          <a href="../user/login.html" class="" >Login / register</a>
              </li>
                <li  >
                          <a href="../components.html" class="" >Components</a>
              </li>
                <li  >
                          <a href="../collections.html" class="" >Collections</a>
              </li>
                <li  >
                          <a href="../create-a-component-j=.html" class="" >Create component</a>
              </li>
                <li aria-haspopup="true" aria-expanded="false" >
                          <button class="button">
            <span>More</span>
          </button>

                                  <ul class="menu-main__container">
                <li  >
                          <a href="../blog/getting-started.html" class="" tabindex="-1" aria-hidden="true">Getting started</a>
              </li>
                <li  >
                          <a href="../docs/documentation/documentation.html" class="" tabindex="-1" aria-hidden="true">Documentation</a>
              </li>
                <li  >
                          <a href="../blog.html" class="" tabindex="-1" aria-hidden="true">Blog</a>
              </li>
                <li  >
                          <a href="../services.html" class="" tabindex="-1" aria-hidden="true">Services</a>
              </li>
                <li  >
                          <a href="../faq.html" class="" tabindex="-1" aria-hidden="true">FAQ</a>
              </li>
                <li  >
                          <a href="../about-us.html" class="" tabindex="-1" aria-hidden="true">About us</a>
              </li>
      </ul>


              </li>
      </ul>


<!-- END OUTPUT from 'themes/compony/components/menu/menu--anonymous-menu/menu--anonymous-menu.html.twig' -->


</nav>

<!-- END OUTPUT from 'themes/compony/components/block/block--system-menu-block/block--system-menu-block--anonymous-menu/block--system-menu-block--anonymous-menu.html.twig' -->


      </div>
    </header>
  

<!-- END OUTPUT from 'themes/compony/components/region/region--header/region--header.html.twig' -->



  <main id="main-content" role="main">
    

    

    
    
    
    

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'region' -->
<!-- FILE NAME SUGGESTIONS:
   * region--content.html.twig
   x region.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/region/region/region.html.twig' -->



      <div class="region region--content">
              

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   x block--page-title-block--component.html.twig
   * block--pagetitle.html.twig
   * block--page-title-block.html.twig
   * block--core.html.twig
   * block.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/block/block--page-title-block/block--page-title-block--component/block--page-title-block--component.html.twig' -->


  
  
<div id="block-pagetitle" class="block--page-title-block--component block block--core block--page-title-block block--pagetitle">
  <div class="funky-background"></div>

  <div class="block__inner">
    

              
    

        
  
  <nav class="breadcrummy h4">
    <div class="scroll-helper"></div>

    <div class="breadcrummy__inner">
      <a href="../components.html">components</a>
      <span class="seperator">/</span>
    </div>
  </nav>

    <div class="title-group">
    <div class="component__add-to-collection">
      <button type="button" name="Add to collection" class="toggle-collections-list" aria-expanded="false">
        <span>Add to collection</span>
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.86 491.86"><path d="M465.167 211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316 18.267-34.316 26.69v184.924H26.69C18.267 211.614 0 223.053 0 245.929s18.267 34.316 26.69 34.316h184.924v184.924c0 8.422 11.438 26.69 34.316 26.69s34.316-18.268 34.316-26.69V280.245H465.17c8.422 0 26.69-11.438 26.69-34.316s-18.27-34.315-26.693-34.315z" /></svg>
      </button>

      <div class="user-collections" data-component-id="22"></div>
    </div>

    

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'page_title' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/content/page-title.html.twig' -->

  <h1 class="page-title">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--node--title--component.html.twig
   x field--node--title.html.twig
   * field--node--component.html.twig
   * field--title.html.twig
   * field--string.html.twig
   * field.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/field--node--title.html.twig' -->
<span class="field field--name-title field--type-string field--label-hidden">Form item</span>

<!-- END OUTPUT from 'core/themes/classy/templates/field/field--node--title.html.twig' -->

</h1>


<!-- END OUTPUT from 'core/themes/classy/templates/content/page-title.html.twig' -->


  </div>
  </div>
</div>


<!-- END OUTPUT from 'themes/compony/components/block/block--page-title-block/block--page-title-block--component/block--page-title-block--component.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--compony-messages.html.twig
   x block--system-messages-block.html.twig
   * block--system.html.twig
   * block.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/block/block--system-messages-block.html.twig' -->
<div data-drupal-messages-fallback class="hidden"></div>

<!-- END OUTPUT from 'core/themes/stable/templates/block/block--system-messages-block.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--compony-content.html.twig
   * block--system-main-block.html.twig
   * block--system.html.twig
   x block.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/block/block/block.html.twig' -->



<div id="block-compony-content" class="block block--system block--system-main-block block--compony-content">
  <div class="funky-background"></div>

  <div class="block__inner">
    

              
    

          

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'node' -->
<!-- FILE NAME SUGGESTIONS:
   * node--22--full.html.twig
   * node--22.html.twig
   x node--component--full.html.twig
   * node--component.html.twig
   * node--full.html.twig
   * node.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/node/node--component/node--component--full/node--component--full.html.twig' -->


  

  <article data-history-node-id="22" role="article" about="/component/form-item" class="node node--type-component component component--full">
    

    
    

    <div class="component__inner">
        
  

  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--node--field-description--component.html.twig
   * field--node--field-description.html.twig
   * field--node--component.html.twig
   * field--field-description.html.twig
   x field--text-long.html.twig
   * field.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/field--text-long.html.twig' -->



  <div class="wysiwyg-content clearfix text-formatted field field--name-field-description field--type-text-long field__items">
    
                  <p>Default theming for form-item components and some extra functionality.</p>
<h3>Better classes</h3>
<p>The classes on form-element-label are now:</p>
<pre>
<code class="language-twig">{%
  set wrapper_classes = [
    'form-item__label',
    variation ? 'form-item__label--' ~ variation,
    title_display == 'invisible' ? 'form-item__label--visually-hidden',
    required ? 'is-required',
  ]
%}</code></pre><p>Which gives you the following classes:</p>
<pre>
<code class="language-scss">.form-item__label {}

// In case you've added a variation from the backend
.form-item__label--my-custom-variation {}

// In case a label is visually hidden
.form-item__label--visually-hidden {}

// In case the form item is required
.is-required {}
</code></pre><h3>Making more variables available in Twig</h3>
<p>In this component 1 extra variable have been added that is available in the template: </p>
<p><code>{{ variation }}</code> can contain any string, that is passed along from the backend.</p>
<p>An example of how this works can be found in the <a href="form-item-checkbox.html">Checkbox component</a>.</p>
<h3>Some very basic CSS</h3>
<p>Some resetting CSS to keep the theming sane.</p>

            </div>


<!-- END OUTPUT from 'core/themes/classy/templates/field/field--text-long.html.twig' -->



  
      

    <div class="text-dropdown">
      <button aria-expanded="false" type="button" class="text-dropdown__toggle">
        <span>Show instructions</span>
        <svg aria-hidden="true" viewBox="0 0 22 14" xmlns="http://www.w3.org/2000/svg"><path d="M21.542 2.904L19.075.402l-8.106 8.223L2.863.402.396 2.904l10.573 10.727z" fill="#333"/></svg>
      </button>

      <div class="text-dropdown__content">
        

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--node--field-instructions--component.html.twig
   * field--node--field-instructions.html.twig
   * field--node--component.html.twig
   * field--field-instructions.html.twig
   x field--text-long.html.twig
   * field.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/field--text-long.html.twig' -->



  <div class="wysiwyg-content clearfix text-formatted field field--name-field-instructions field--type-text-long field__items">
    
                  <h3>Optional usage of the new "variation" variable</h3>
<p>When defining your form in the backend, you can pass along the <code>variation</code> variable, in case you want to make use of it in the template.</p>
<pre>
<code class="language-php">$form['show_salary'] = [
  '#type' =&gt; 'checkbox',
  '#title' =&gt; $this-&gt;t('this is a checkbox'),
  '#default_value' =&gt; 0,
  '#variation' =&gt; 'switcher',
];</code></pre><p>The string "switcher" will be available in <code>form-element-label.html.twig</code> as <code>{{ variation }}</code>.</p>
<p>An example of how this works can be found in the <a href="form-item-checkbox.html">Checkbox component</a>.</p>

            </div>


<!-- END OUTPUT from 'core/themes/classy/templates/field/field--text-long.html.twig' -->


      </div>
    </div>
  
  <div class="component__specs">
    <h2 class="visually-hidden">Specifications</h2>

    <div class="component__spec component__spec--machine-name">
      <h3>Machine name</h3>

      <div class="content">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481.2 481.2"><path d="M403.9 97.85h-114c-27.7 0-50.3-22.5-50.3-50.3 0-7.5-6-13.5-13.5-13.5H77.3c-42.6 0-77.3 34.7-77.3 77.3v258.5c0 42.6 34.7 77.3 77.3 77.3h326.6c42.6 0 77.3-34.7 77.3-77.3v-194.8c0-42.6-34.7-77.2-77.3-77.2zm50.3 271.9c0 27.7-22.5 50.3-50.3 50.3H77.3c-27.7 0-50.3-22.5-50.3-50.3v-258.4c0-27.7 22.5-50.3 50.3-50.3h136.5c6.4 36.2 38.1 63.8 76.1 63.8h114c27.7 0 50.3 22.5 50.3 50.3v194.6z"/></svg>
        <span>
          form-item
        </span>
      </div>
    </div>

          <div class="component__spec component__spec--built-upon">
        <h3>Built upon</h3>
        <div class="content">
          <svg aria-hidden="true" viewBox="0 0 55 63" xmlns="http://www.w3.org/2000/svg"><path d="M44.222 13.848c-2.338-2.021-5.163-3.312-7.655-4.451-1.909-.872-3.711-1.696-5.09-2.73-2.127-1.594-4.44-4.453-4.839-5.04-.078-.115-.16-.242-.241-.369C25.96.576 25.362-.359 24.433.135c-.634.337-.544.998-.51 1.247.085.623.343 2.519-1.581 5.012-1.667 2.159-4.771 3.433-6.439 4.118a15.356 15.356 0 0 0-.998.435C5.883 15.622.279 24.832.279 34.985c0 14.919 12.138 27.057 27.057 27.057 14.919 0 27.054-12.137 27.054-27.057 0-8.265-3.706-15.967-10.168-21.137zm7.9 24.805c-.097-1.26-.432-2.469-1.065-3.529-.713-1.192-1.607-1.905-2.657-2.116-1.814-.365-3.524.89-4.655 1.721l-.138.101c-.189.138-.413.306-.665.495-1.614 1.212-4.972 3.735-6.707 3.735-.556 0-1.949-.937-3.179-1.764-2.876-1.934-6.814-4.583-11.553-4.583-7.366 0-10.04 5.498-10.037 9.121-.009.133-.208 3.272 1.969 5.632 1.491 1.617 3.685 2.451 6.521 2.478h.14c4.81 0 8.321-2.394 11.147-4.321 2.018-1.376 3.76-2.564 5.416-2.564 1.205 0 3.717 2.549 4.924 3.774.427.433.8.811 1.092 1.079 1.043.956 2.203 1.82 3.653 1.656.7-.079 1.369-.393 2.02-.952-4.473 6.872-12.223 11.425-21.015 11.425-13.816 0-25.057-11.241-25.057-25.057 0-9.389 5.176-17.908 13.512-22.245l.049-.023c.173-.09.46-.205.824-.354 1.841-.756 5.268-2.162 7.263-4.746.958-1.243 1.583-2.519 1.869-3.815 1.016 1.239 2.759 3.172 4.483 4.465 1.551 1.164 3.449 2.031 5.459 2.949 2.486 1.136 5.057 2.311 7.142 4.111a1.4 1.4 0 0 0 .08.071c5.995 4.788 9.433 11.927 9.433 19.588 0 1.246-.092 2.471-.268 3.668zm-4.054 7.261c-.711 1.026-1.389 1.603-1.962 1.667-.653.071-1.383-.506-2.079-1.143-.272-.25-.62-.604-1.018-1.008-2.27-2.303-4.464-4.371-6.349-4.371-2.272 0-4.346 1.414-6.542 2.912-2.76 1.881-5.87 4.002-10.142 3.973-2.252-.021-3.954-.633-5.056-1.819-1.592-1.713-1.459-4.128-1.455-4.22 0-2.488 1.68-7.193 8.04-7.193 4.128 0 7.775 2.452 10.437 4.243 1.817 1.222 3.129 2.104 4.295 2.104 2.217 0 5.245-2.135 7.909-4.136.244-.183.46-.346.644-.48l.141-.103c.898-.66 2.125-1.57 3.076-1.373.474.096.924.493 1.335 1.182 1.649 2.765.575 7.095-1.274 9.765z"/></svg>

                      <span>Drupal Core</span>
                  </div>
      </div>
    
          <div class="component__spec component__spec--perks">
        <h3>Perks</h3>

                  <div class="content">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M234.53 285.912l-64.77-61.653-27.588 28.983 94.603 90.052 144.148-160.495-29.769-26.738z"/><path d="M420.499 65.192c-48.502-8.692-93.168-35.18-115.476-50.195C290.447 5.186 273.496 0 256.001 0s-34.447 5.186-49.022 14.996C184.671 30.011 140.005 56.5 91.503 65.192c-28.726 5.148-49.576 30.002-49.576 59.097v120.71c0 39.877 11.157 78.749 33.159 115.539 17.214 28.781 41.064 56.288 70.888 81.757 50.147 42.825 99.804 65.156 101.892 66.086L256 512l8.134-3.619c2.089-.929 51.745-23.261 101.892-66.086 29.823-25.469 53.675-52.976 70.888-81.757 22.004-36.789 33.159-75.662 33.159-115.539V124.29c.002-29.096-20.848-53.95-49.574-59.098zM430.061 245c0 59.45-30.033 115.375-89.267 166.224-34.432 29.558-69.39 48.824-84.791 56.643C220.601 449.879 81.941 371.328 81.941 245V124.29c0-9.695 6.99-17.985 16.621-19.711 55.718-9.985 105.843-39.616 130.761-56.388 7.947-5.35 17.172-8.178 26.678-8.178s18.732 2.828 26.678 8.177c24.919 16.773 75.043 46.402 130.761 56.387 9.63 1.726 16.621 10.016 16.621 19.711V245z"/></svg>
            <span>
              <a href="../blog/secure-components.html">Secured by Compony</a>
            </span>
          </div>
        
                  <div class="content">
                          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 547.8 410.6"><path fill="#CD6799" d="M471.4 236c-19.1.1-35.7 4.7-49.6 11.5-5.1-10.1-10.2-19.1-11.1-25.7-1-7.7-2.2-12.4-1-21.6 1.2-9.2 6.6-22.3 6.5-23.3s-1.2-5.7-12.2-5.8c-11-.1-20.5 2.1-21.6 5-1.1 2.9-3.2 9.5-4.6 16.3-1.9 10-22 45.7-33.5 64.4-3.7-7.3-6.9-13.7-7.6-18.8-1-7.7-2.2-12.4-1-21.6 1.2-9.2 6.6-22.3 6.5-23.3-.1-1-1.2-5.7-12.2-5.8-11-.1-20.5 2.1-21.6 5-1.1 2.9-2.3 9.7-4.6 16.3-2.3 6.6-29 66.2-36 81.6-3.6 7.9-6.7 14.2-8.9 18.5s-.1.3-.4.8c-1.9 3.7-3 5.7-3 5.7v.1c-1.5 2.7-3.1 5.2-3.9 5.2-.6 0-1.7-7.2.2-17 4-20.7 13.5-52.9 13.4-54 0-.6 1.8-6.2-6.2-9.1-7.8-2.9-10.6 1.9-11.3 1.9-.7 0-1.2 1.7-1.2 1.7s8.7-36.2-16.6-36.2c-15.8 0-37.6 17.3-48.4 32.9-6.8 3.7-21.3 11.6-36.8 20.1-5.9 3.3-12 6.6-17.7 9.7-.4-.4-.8-.9-1.2-1.3-30.6-32.7-87.2-55.8-84.8-99.7.9-16 6.4-58 108.7-109 84.2-41.5 151.2-30 162.8-4.5 16.6 36.4-35.9 104-122.9 113.8-33.2 3.7-50.6-9.1-55-13.9-4.6-5-5.3-5.3-7-4.3-2.8 1.5-1 6 0 8.6 2.6 6.8 13.3 18.8 31.4 24.7 16 5.2 54.9 8.1 102-10.1 52.7-20.4 93.9-77.1 81.8-124.6C330.7 2 250.7-13.9 175 13 130 29 81.2 54.2 46.1 87 4.4 126-2.2 159.9.5 174.1c9.7 50.4 79.2 83.2 107 107.5-1.4.8-2.7 1.5-3.8 2.1-13.9 6.9-66.9 34.6-80.1 63.9-15 33.2 2.4 57 13.9 60.2 35.7 9.9 72.4-7.9 92.1-37.3 19.7-29.4 17.3-67.6 8.2-85.1-.1-.2-.2-.4-.4-.6 3.6-2.1 7.3-4.3 10.9-6.4 7.1-4.2 14.1-8.1 20.1-11.3-3.4 9.3-5.9 20.4-7.1 36.4-1.5 18.8 6.2 43.2 16.3 52.8 4.5 4.2 9.8 4.3 13.2 4.3 11.8 0 17.1-9.8 23-21.4 7.2-14.2 13.7-30.7 13.7-30.7s-8.1 44.6 13.9 44.6c8 0 16.1-10.4 19.7-15.7v.1s.2-.3.6-1c.8-1.3 1.3-2.1 1.3-2.1v-.2c3.2-5.6 10.4-18.3 21.1-39.4 13.8-27.2 27.1-61.2 27.1-61.2s1.2 8.3 5.3 22.1c2.4 8.1 7.4 17 11.4 25.6-3.2 4.5-5.2 7-5.2 7l.1.1c-2.6 3.4-5.4 7.1-8.5 10.7-10.9 13-23.9 27.9-25.7 32.2-2.1 5.1-1.6 8.8 2.4 11.8 2.9 2.2 8.1 2.5 13.4 2.2 9.8-.7 16.7-3.1 20.1-4.6 5.3-1.9 11.5-4.8 17.3-9.1 10.7-7.9 17.2-19.2 16.6-34.1-.3-8.2-3-16.4-6.3-24.1 1-1.4 1.9-2.8 2.9-4.2 16.9-24.7 30-51.8 30-51.8s1.2 8.3 5.3 22.1c2 7 6.1 14.6 9.7 22-15.9 12.9-25.7 27.9-29.2 37.7-6.3 18.2-1.4 26.4 7.9 28.3 4.2.9 10.2-1.1 14.6-3 5.6-1.8 12.2-4.9 18.5-9.5 10.7-7.9 21-18.9 20.4-33.8-.3-6.8-2.1-13.5-4.6-20 13.5-5.6 30.9-8.7 53.1-6.1 47.6 5.6 57 35.3 55.2 47.8-1.8 12.5-11.8 19.3-15.1 21.4-3.3 2.1-4.4 2.8-4.1 4.3.4 2.2 2 2.1 4.8 1.7 3.9-.7 25-10.1 25.9-33.1 1.5-29.4-26.5-61.5-76-61.2zM104.2 359.8C88.4 377 66.4 383.5 56.9 378c-10.2-5.9-6.2-31.3 13.2-49.5 11.8-11.1 27-21.4 37.1-27.7 2.3-1.4 5.7-3.4 9.8-5.9.7-.4 1.1-.6 1.1-.6l2.4-1.5c7.1 26 .3 48.9-16.3 67zm115-78.2c-5.5 13.4-17 47.7-24 45.8-6-1.6-9.7-27.6-1.2-53.3 4.3-12.9 13.4-28.3 18.7-34.3 8.6-9.6 18.1-12.8 20.4-8.9 2.9 5.1-10.5 42.3-13.9 50.7zm94.9 45.4c-2.3 1.2-4.5 2-5.5 1.4-.7-.4 1-2 1-2s11.9-12.8 16.6-18.6c2.7-3.4 5.9-7.4 9.3-11.9v1.3c0 15.3-14.8 25.6-21.4 29.8zm73.2-16.7c-1.7-1.2-1.4-5.2 4.3-17.7 2.2-4.9 7.4-13.1 16.3-21 1 3.2 1.7 6.3 1.6 9.2-.1 19.3-13.9 26.5-22.2 29.5z"/></svg>
              <span>Using Sass</span>
                      </div>
        
                  <div class="content">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.009 512.009"><path d="M495.617 26.633h-336.28c-9.043 0-16.383 7.331-16.383 16.383v50.781c0 9.052 7.339 16.383 16.383 16.383s16.383-7.331 16.383-16.383V59.39h303.515v34.407c0 9.052 7.331 16.383 16.383 16.383 9.043 0 16.383-7.331 16.392-16.374v-50.79c-.001-9.052-7.341-16.383-16.393-16.383z"/><path d="M372.063 452.619H343.86V87.389c0-9.052-7.339-16.383-16.383-16.383-9.043 0-16.383 7.331-16.392 16.374v365.239h-28.204c-9.052 0-16.383 7.322-16.383 16.374s7.331 16.383 16.383 16.383h89.182c9.043 0 16.383-7.322 16.383-16.374s-7.33-16.383-16.383-16.383zM239.839 230.636H16.383C7.339 230.636 0 237.967 0 247.019v26.456c0 9.052 7.339 16.383 16.383 16.383 9.043 0 16.383-7.331 16.383-16.383v-10.082h190.691v10.082c0 9.052 7.331 16.383 16.383 16.383 9.043 0 16.383-7.331 16.383-16.383v-26.456c-.001-9.052-7.332-16.383-16.384-16.383z"/><path d="M151.341 452.619h-6.842V297.356c0-9.052-7.339-16.383-16.383-16.383s-16.383 7.331-16.383 16.383v155.263h-6.86c-9.043 0-16.374 7.322-16.374 16.374s7.331 16.383 16.383 16.383h46.468c9.043 0 16.374-7.322 16.374-16.374-.001-9.052-7.331-16.383-16.383-16.383zm142.421-286.245l.009-65.407c0-.08-.011-.156-.012-.236a16.67 16.67 0 0 0-.057-1.138 16.373 16.373 0 0 0-.101-.866c-.032-.23-.063-.46-.105-.69a16.36 16.36 0 0 0-1.333-4.116c-.073-.155-.145-.31-.222-.462a15.503 15.503 0 0 0-.376-.681 16.456 16.456 0 0 0-.364-.599c-.119-.186-.236-.373-.362-.554a15.98 15.98 0 0 0-.642-.859c-.092-.116-.183-.232-.278-.345a16.261 16.261 0 0 0-.828-.911c-.116-.118-.237-.231-.356-.346a18.32 18.32 0 0 0-1.097-.97c-.269-.216-.546-.42-.827-.619-.107-.075-.209-.156-.317-.229a16.413 16.413 0 0 0-1.13-.686c-.172-.096-.349-.183-.524-.273a16.941 16.941 0 0 0-1.321-.607c-.287-.116-.579-.22-.872-.319-.176-.059-.349-.123-.527-.177-.41-.124-.826-.229-1.247-.32-.17-.037-.341-.066-.513-.097a15.857 15.857 0 0 0-1-.152c-.16-.019-.319-.04-.48-.054a16.33 16.33 0 0 0-1.489-.075h-65.424c-9.043 0-16.383 7.331-16.383 16.383s7.331 16.383 16.383 16.383h25.861l-67.572 67.572c-6.399 6.39-6.399 16.764 0 23.172a16.32 16.32 0 0 0 11.582 4.792c4.189 0 8.387-1.589 11.581-4.792l67.576-67.563-.004 25.843c0 9.052 7.331 16.383 16.383 16.383 9.04-.002 16.388-7.333 16.388-16.385z"/></svg>
            <span>Responsive</span>
          </div>
        
        
                  <div class="content">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 214.637 214.637"><path d="M127.75 183.153c-10.629 10.63-24.76 16.483-39.793 16.483-31.024 0-56.265-25.241-56.265-56.268 0-15.034 5.852-29.168 16.479-39.796a7.5 7.5 0 0 0-.001-10.607 7.499 7.499 0 0 0-10.607.001c-13.459 13.461-20.871 31.36-20.871 50.401 0 39.297 31.969 71.268 71.265 71.268 19.039 0 36.938-7.414 50.4-20.878a7.5 7.5 0 1 0-10.607-10.604z"/><path d="M190.444 166.706h-21.335L155.9 130.057a7.5 7.5 0 0 0-7.056-4.957H93.232V91.424h51.648a7.5 7.5 0 0 0 7.5-7.5 7.5 7.5 0 0 0-7.5-7.5H93.232V53.279a7.5 7.5 0 0 0-7.5-7.5 7.5 7.5 0 0 0-7.5 7.5v79.32a7.5 7.5 0 0 0 7.5 7.5h57.842l13.209 36.649a7.5 7.5 0 0 0 7.056 4.957h26.604a7.5 7.5 0 0 0 .001-14.999zM86.015 36.438c10.063 0 18.221-8.154 18.221-18.224C104.235 8.161 96.078 0 86.015 0S67.796 8.161 67.796 18.215c0 10.069 8.156 18.223 18.219 18.223z"/></svg>
            <span>Accessible</span>
          </div>
              </div>
    
    
          <div class="component__spec component__spec--building-blocks">
        <h3>Building blocks</h3>
                  <div class="content">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 444.64 500"><path fill="#e34e26" d="M0 0h444.97l-39.4 451.09L222.49 500 38.72 449.73 0 0z"/><path fill="#f16629" d="M222.66 36.01L222.49 464l148.43-40.77 32.61-387.22H222.66z"/><path fill="none" d="M284.31 330.5l7.13-71.33-68.78-1.02h-.17v88.61l.17.05 61.65-16.31zM145.72 145.04l4.08 57.07h72.69v-57.07h-76.77z"/><path fill="#ebebeb" d="M145.72 145.04h76.77V91.03H82.54l15.29 167.12h124.66v-56.04H149.8l-4.08-57.07zM161 329.48l-4.07-43.81h-56.05L107 373.3l115.49 34.6v-61.14L161 329.48z"/><path fill="#FFF" d="M222.66 258.15l68.78 1.02-7.13 71.33-61.65 16.31-.17-.05v61.14l.17.05 113.62-34.65 17.32-171.19H222.49v56.04h.17zm135.02-113.11l5.09-54.01H222.49v54.01h135.19z"/></svg>
            <span>HTML</span>
          </div>
        
                  <div class="content">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 444.64 500"><path fill="#0671b9" d="M0 0h444.64l-39.37 450.75-182.95 48.88-183.63-50.24L0 0z"/><path fill="#2ba7df" d="M222.49 35.98l-.17 427.67 148.33-40.73 32.58-386.94H222.49z"/><path fill="none" d="M284.43 329.41l6.11-70.6-68.22.68v87.47l.34.1 61.77-17.65zm16.3-183.97h-78.41v57.02h72.98l5.43-57.02z"/><path fill="#ebebeb" d="M158.17 328.73l-4.07-43.45H97.07l7.47 88.93 117.78 32.49v-59.74l-64.15-18.23zM92.32 203.14l5.43 57.03 124.57-.68v-57.03l-130 .68zM83.5 91.81l4.07 53.63h134.75V91.81H83.5z"/><path fill="#FFF" d="M222.32 91.81v53.63h78.41l-5.43 57.02h-72.98v57.03l68.22-.68-6.11 70.6-61.77 17.65-.34-.1v59.74l.34.09 114.04-33.26 24.44-281.72H222.32z"/></svg>
            <span>CSS</span>
          </div>
        
              </div>
    
          <div class="component__spec">
        <h3>Inspired by</h3>
        <div class="content">
          Flat design
        </div>
      </div>
    
    
    <div class="component__spec component__spec--stats">
      <h3>Stats</h3>

      <div class="content">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.2 59.2"><path d="M51.062 21.561c-11.889-11.889-31.232-11.889-43.121 0L0 29.501l8.138 8.138c5.944 5.944 13.752 8.917 21.561 8.917s15.616-2.972 21.561-8.917l7.941-7.941-8.139-8.137zm-1.217 14.664c-11.109 11.108-29.184 11.108-40.293 0l-6.724-6.724 6.527-6.527c11.109-11.108 29.184-11.108 40.293 0l6.724 6.724-6.527 6.527z"></path><path d="M28.572 21.57c-3.86 0-7 3.14-7 7a1 1 0 0 0 2 0c0-2.757 2.243-5 5-5a1 1 0 0 0 0-2z"></path><path d="M29.572 16.57c-7.168 0-13 5.832-13 13s5.832 13 13 13 13-5.832 13-13-5.831-13-13-13zm0 24c-6.065 0-11-4.935-11-11s4.935-11 11-11 11 4.935 11 11-4.934 11-11 11z"></path></svg>
        <span>
                      Public component
                  </span>
      </div>

      <div class="content">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.712 41.712"><path d="M31.586 21.8a1.112 1.112 0 0 0 0-1.587 1.093 1.093 0 0 0-1.571 0l-8.047 8.032V1.706c0-.619-.492-1.127-1.111-1.127s-1.127.508-1.127 1.127v26.539l-8.031-8.032a1.112 1.112 0 0 0-1.587 0 1.112 1.112 0 0 0 0 1.587l9.952 9.952a1.14 1.14 0 0 0 1.587 0l9.935-9.952zm7.888 7.286c0-.619.492-1.111 1.111-1.111s1.127.492 1.127 1.111v10.92c0 .619-.508 1.127-1.127 1.127H1.111A1.118 1.118 0 0 1 0 40.006v-10.92c0-.619.492-1.111 1.111-1.111s1.127.492 1.127 1.111v9.809h37.236v-9.809z" fill="#1e201d"/></svg>
        <span>
                      57 downloads
                  </span>
      </div>

      
      <div class="content">
        <svg aria-hidden="true" viewBox="0 0 487 366" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M61.188 365.83c33.382 0 60.857-27.475 60.857-60.857 0-14.836-5.22-28.162-14.081-39.289l111.273-149.119c7.418 2.954 15.592 5.22 24.453 5.22 14.836 0 28.162-5.22 38.602-14.081l87.507 66.764c-3.709 7.418-5.22 16.347-5.22 25.208 0 33.382 27.475 60.857 60.857 60.857s60.857-27.475 60.857-60.857-27.475-60.857-60.857-60.857c-14.836 0-28.162 5.22-38.602 14.081l-87.507-66.764c3.709-7.418 5.22-16.347 5.22-25.208 0-33.382-27.475-60.857-60.857-60.857s-60.857 27.475-60.857 60.857c0 14.836 5.22 28.162 14.081 39.289L85.64 250.093c-7.418-2.954-15.592-5.22-24.452-5.22-33.382 0-60.857 27.475-60.857 60.857 0 32.694 27.475 60.1 60.857 60.1zm396.117-165.398c0 18.545-14.836 33.382-33.382 33.382s-33.382-14.836-33.382-33.382c0-18.545 14.836-33.382 33.382-33.382s33.382 14.837 33.382 33.382zM243.62 28.303c18.545 0 33.382 14.836 33.382 33.382s-14.836 33.382-33.382 33.382c-18.545 0-33.382-14.836-33.382-33.382s14.837-33.382 33.382-33.382zM61.188 272.347c18.545 0 33.382 14.836 33.382 33.382 0 18.545-14.836 33.382-33.382 33.382s-33.382-14.836-33.382-33.382c0-18.545 14.836-33.382 33.382-33.382z"/></svg>
        <span>
          <a href="https://gitlab.com/componies/flat-design/Core/form-item" target="_blank" rel="noopener">
                          2 commits
                      </a>
        </span>
      </div>

      <div class="content">
        <svg aria-hidden="true" viewBox="0 0 312 550" xmlns="http://www.w3.org/2000/svg"><title>horizontal beam</title><g fill="none" fill-rule="evenodd"><path d="M255.213 303.568c-.78-2.725-1.213-6.045-1.213-10.068 0-11.248 3.384-16.998 8.285-19.618l18.063 2.63v26.354l-25.135.702z" fill="#000"/><path d="M217.127 305.54c-3.138-3.24-5.127-8.647-5.127-17.285 0-12.485 4.155-18.218 9.93-20.418l40.689 5.923c5.009 2.888 8.381 8.298 8.381 14.495 0 7.694-5.196 14.174-12.27 16.122l-41.603 1.162z" fill="#FFF"/><path d="M179.656 305.679c-3.47-3.755-5.656-9.916-5.656-19.63 0-14.18 4.658-20.79 11.17-23.392l47.378 6.897c5.593 3.364 9.335 9.493 9.335 16.496 0 8.501-5.515 15.714-13.162 18.258l-49.065 1.37z" fill="#000"/><path d="M138.42 307c-4.17-4.394-6.804-11.65-6.804-23.145 0-16.53 5.445-24.292 13.076-27.386l56.594 8.238C207.721 268.696 212 275.78 212 283.855c0 10.102-6.698 18.655-15.934 21.535L138.42 307z" fill="#FFF"/><path d="M88.62 308.222c-4.691-5.283-7.627-13.806-7.627-27.057 0-18.203 5.54-27.485 13.559-31.699l71.724 10.44c6.396 4.922 10.512 12.614 10.512 21.26 0 11.416-7.178 21.171-17.307 25.076l-70.862 1.98z" fill="#000"/><path d="M114.355 251.349C125.34 256.223 133 267.207 133 279.975c0 12.197-6.989 22.765-17.19 27.935L57 309.553V243l57.355 8.349z" fill="#FFF"/><path d="M57 249.29c15.32 1.416 27.314 14.275 27.314 29.93 0 15.454-11.691 28.185-26.732 29.869l-.582.016V249.29zm198.213 54.278c-.78-2.725-1.213-6.045-1.213-10.068 0-11.248 3.384-16.998 8.285-19.618l18.063 2.63v26.354l-25.135.702z" fill="#000"/><path d="M217.127 305.54c-3.138-3.24-5.127-8.647-5.127-17.285 0-12.485 4.155-18.218 9.93-20.418l40.689 5.923c5.009 2.888 8.381 8.298 8.381 14.495 0 7.694-5.196 14.174-12.27 16.122l-41.603 1.162z" fill="#FFF"/><path d="M179.656 305.679c-3.47-3.755-5.656-9.916-5.656-19.63 0-14.18 4.658-20.79 11.17-23.392l47.378 6.897c5.593 3.364 9.335 9.493 9.335 16.496 0 8.501-5.515 15.714-13.162 18.258l-49.065 1.37z" fill="#000"/><path d="M138.42 307c-4.17-4.394-6.804-11.65-6.804-23.145 0-16.53 5.445-24.292 13.076-27.386l56.594 8.238C207.721 268.696 212 275.78 212 283.855c0 10.102-6.698 18.655-15.934 21.535L138.42 307z" fill="#FFF"/><path d="M88.62 308.222c-4.691-5.283-7.627-13.806-7.627-27.057 0-18.203 5.54-27.485 13.559-31.699l71.724 10.44c6.396 4.922 10.512 12.614 10.512 21.26 0 11.416-7.178 21.171-17.307 25.076l-70.862 1.98z" fill="#000"/><path d="M114.355 251.349C125.34 256.223 133 267.207 133 279.975c0 12.197-6.989 22.765-17.19 27.935L57 309.553V243l57.355 8.349z" fill="#FFF"/><path d="M57 249.29c15.32 1.416 27.314 14.275 27.314 29.93 0 15.454-11.691 28.185-26.732 29.869l-.582.016V249.29zm196.006-24.883c-.05-3.245.457-7.045 1.65-11.496 3.334-12.444 8.76-17.807 14.927-19.262l19.087 8.232-7.813 29.156-27.851-6.63z" fill="#000"/><path d="M210.154 216.03c-2.486-4.491-3.071-11.031-.522-20.547 3.686-13.755 9.936-18.85 16.92-19.576l42.883 18.484a19.077 19.077 0 0 1 4.915 18.433c-2.271 8.475-9.884 14.087-18.219 14.154l-45.977-10.948z" fill="#FFF"/><path d="M169.451 204.089c-2.695-5.15-3.273-12.57-.41-23.255 4.18-15.6 11.233-21.505 19.134-22.457l49.878 21.497a21.917 21.917 0 0 1 5.364 20.889 21.912 21.912 0 0 1-19.803 16.223l-54.163-12.897z" fill="#000"/><path d="M124.05 193.994c-3.4-6.134-4.216-14.974-.803-27.714 4.91-18.325 13.364-25.286 22.9-26.41l61.512 26.29c6.064 6.37 8.78 15.508 6.385 24.45-2.998 11.187-13.082 18.639-24.352 19.055l-65.643-15.671z" fill="#FFF"/><path d="M68.472 180.137c-3.596-7.2-4.307-17.452-.397-32.047 5.373-20.05 14.202-28.642 24.258-30.922l75.749 32.622c5.577 7.304 7.83 16.989 5.28 26.511-3.37 12.575-14.139 21.206-26.423 22.525l-78.467-18.689z" fill="#000"/><path d="M113.385 125.432a35.777 35.777 0 0 1 11.919 37.036 35.785 35.785 0 0 1-27.045 25.78l-64.767-15.413 19.67-73.41 60.223 26.007z" fill="#FFF"/><path d="M51.35 106.186c16.92 6.2 26.71 23.958 22.104 41.148-4.547 16.971-21.524 27.406-39.04 24.694l-.663-.159 17.6-65.683zM265.053 389.48c-1.666-2.784-3.127-6.329-4.32-10.78-3.334-12.444-1.316-19.802 3.297-24.145l20.646-2.414 7.812 29.156-27.435 8.184z" fill="#000"/><path d="M223.754 403.653c-4.399-2.648-8.176-8.019-10.726-17.534-3.685-13.755-.82-21.292 4.866-25.413l46.379-5.434a19.077 19.077 0 0 1 13.472 13.506c2.271 8.475-1.515 17.14-8.7 21.367l-45.291 13.508z" fill="#FFF"/><path d="M182.533 413.662c-4.908-3.111-9.12-9.248-11.983-19.934-4.18-15.6-1.024-24.24 5.343-29.015l53.943-6.322a21.917 21.917 0 0 1 15.09 15.408 21.912 21.912 0 0 1-9.038 23.95l-53.355 15.913z" fill="#000"/><path d="M138.167 427.62c-6.012-3.612-11.138-10.86-14.552-23.599-4.91-18.325-1.07-28.58 6.627-34.323l66.416-7.986c8.436 2.484 15.358 9.039 17.754 17.98 2.998 11.188-2.01 22.683-11.561 28.679l-64.684 19.25z" fill="#FFF"/><path d="M83.107 443.41c-6.714-4.438-12.457-12.961-16.367-27.557-5.373-20.05-2.022-31.905 5.547-38.908l81.91-9.623c8.483 3.537 15.277 10.798 17.828 20.32 3.37 12.575-1.64 25.434-11.62 32.718l-77.298 23.05z" fill="#000"/><path d="M94.65 373.576a35.777 35.777 0 0 1 28.84 26.115 35.785 35.785 0 0 1-10.532 35.848l-63.795 19.036-19.67-73.41 65.157-7.589z" fill="#FFF"/><path d="M31.304 387.926c17.753-3.09 35.11 7.394 39.716 24.583 4.547 16.972-4.937 34.496-21.462 40.906l-.654.194-17.6-65.683z" fill="#000"/><path d="M.121 521.206V28.743C.121 12.976 12.897.196 28.666.196c15.767 0 28.546 12.78 28.546 28.547v492.463c0 15.77-12.779 28.546-28.546 28.546C12.897 549.75.121 536.974.121 521.206zM280.61 419.573V153.428c0-8.521 6.906-15.428 15.428-15.428 8.52 0 15.427 6.907 15.427 15.428v266.145c0 8.522-6.906 15.427-15.427 15.427-8.522-.001-15.427-6.906-15.427-15.427z" fill="#000" fill-rule="nonzero"/></g></svg>

        <span>
          <a href="https://gitlab.com/componies/flat-design/Core/form-item/issues" target="_blank" rel="noopener">
                          No open issue
                      </a>
        </span>
      </div>
    </div>

    <div class="component__spec component__spec--contributors">
      <h3>Contributors</h3>
      <div class="content">
        <span>
          

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'user' -->
<!-- FILE NAME SUGGESTIONS:
   x user--compact.html.twig
   * user.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/user/user--compact/user--compact.html.twig' -->


  

<article typeof="schema:Person" about="/person/mathieuspillebeen" class="profile profile--compact">
    <a href="../person/mathieuspillebeen.html">
    

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--user--user-picture--user.html.twig
   * field--user--user-picture.html.twig
   * field--user--user.html.twig
   * field--user-picture.html.twig
   * field--image.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/field/field/field.html.twig' -->



  <div class="field field--name-user-picture field--type-image field__items">
    
                  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'image_formatter' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/image-formatter.html.twig' -->
  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'image_style' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/image-style.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'image' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/image.html.twig' -->
<img src="../sites/default/files/styles/speaker_tiny/public/pictures/2020-01/mathieu square-1_0-itok=Y8oQKYBa.jpg" width="100" height="100" alt="Profile picture for user Mathieu Spillebeen" typeof="foaf:Image" class="image-style-speaker-tiny" />

<!-- END OUTPUT from 'core/themes/classy/templates/field/image.html.twig' -->



<!-- END OUTPUT from 'core/themes/classy/templates/field/image-style.html.twig' -->



<!-- END OUTPUT from 'core/themes/classy/templates/field/image-formatter.html.twig' -->


            </div>


<!-- END OUTPUT from 'themes/compony/components/field/field/field.html.twig' -->


    <span class="user__name">Mathieu Spillebeen</span>
  </a>
</article>


<!-- END OUTPUT from 'themes/compony/components/user/user--compact/user--compact.html.twig' -->


          
        </span>
      </div>
    </div>
  </div>

  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form' -->
<!-- FILE NAME SUGGESTIONS:
   * form--download-component-form.html.twig
   x form.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/form/form/form.html.twig' -->





<form class="download-component-form form form--download-component-form" data-drupal-selector="download-component-form-2" action="/component/form-item" method="post" id="download-component-form--2" accept-charset="UTF-8">
      

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'fieldset' -->
<!-- BEGIN OUTPUT from 'themes/compony/components/fieldset/fieldset/fieldset.html.twig' -->





<fieldset data-drupal-selector="edit-container" id="edit-container--2" class="js-form-wrapper form-wrapper fieldset">
  
    
  <div class="fieldset-wrapper">
    <div class="form-item__wrapper">
      
      
      

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'container' -->
<!-- BEGIN OUTPUT from 'themes/compony/components/container/container.html.twig' -->

<div data-drupal-selector="edit-actions" class="form-actions form-wrapper--edit-actions--2 js-form-wrapper form-wrapper" id="edit-actions--2">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__submit' -->
<!-- FILE NAME SUGGESTIONS:
   * input--submit.html.twig
   * input--submit.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->
<input data-custom-loading-text="Loading..." data-drupal-selector="edit-submit" type="submit" id="edit-submit--2" name="op" value="Download component" class="button js-form-submit form-submit ajax-button" />

<!-- END OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->

<div id="download_component_form__highlight" class="form__highlight form__highlight--hidden"></div></div>

<!-- END OUTPUT from 'themes/compony/components/container/container.html.twig' -->



      
      
      
    </div>
  </div>
</fieldset>

<!-- END OUTPUT from 'themes/compony/components/fieldset/fieldset/fieldset.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__hidden' -->
<!-- FILE NAME SUGGESTIONS:
   * input--hidden.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->
<input data-drupal-selector="edit-nid" type="hidden" name="nid" value="22" />

<!-- END OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__hidden' -->
<!-- FILE NAME SUGGESTIONS:
   * input--hidden.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->
<input autocomplete="off" data-drupal-selector="form-fy5rhgsyuudv-ndubxnowfagxvyhq3uzxnblh9mddvy" type="hidden" name="form_build_id" value="form-FY5rhgSYuUDv_ndUbxNOwfAgxvyHQ3uZXNbLh9mDDvY" />

<!-- END OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__hidden' -->
<!-- FILE NAME SUGGESTIONS:
   * input--hidden.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->
<input data-drupal-selector="edit-download-component-form-2" type="hidden" name="form_id" value="download_component_form" />

<!-- END OUTPUT from 'themes/compony/components/form-item/form-item/input.html.twig' -->


  </form>


<!-- END OUTPUT from 'themes/compony/components/form/form/form.html.twig' -->



  
    </div>
  </article>


<!-- END OUTPUT from 'themes/compony/components/node/node--component/node--component--full/node--component--full.html.twig' -->


      </div>
</div>


<!-- END OUTPUT from 'themes/compony/components/block/block/block.html.twig' -->


      
          </div>
  

<!-- END OUTPUT from 'themes/compony/components/region/region/region.html.twig' -->



    
      </main>

      

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'region' -->
<!-- FILE NAME SUGGESTIONS:
   x region--footer.html.twig
   * region.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/region/region--footer/region--footer.html.twig' -->



      <footer class="region region--footer">
              

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--footersponsorblock.html.twig
   x block--footer-sponsor-block.html.twig
   * block--compony-sponsors.html.twig
   * block.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/block/block--footer-sponsor-block/block--footer-sponsor-block.html.twig' -->


  

<div id="block-footersponsorblock" class="block block--compony-sponsors block--footer-sponsor-block block--footersponsorblock">
  <div class="funky-background"></div>

  <div class="block__inner">
    

              
    

      <div class="layout">
    <div class="group-left">
      

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--node--field-logo--sponsor-content.html.twig
   * field--node--field-logo.html.twig
   * field--node--sponsor-content.html.twig
   * field--field-logo.html.twig
   * field--image.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/field/field/field.html.twig' -->



  <div class="field field--name-field-logo field--type-image field__items">
    
                  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'image_formatter' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/image-formatter.html.twig' -->
  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'image' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/image.html.twig' -->
<img width="" height="" src="../sites/default/files/2019-02/your logo here.svg" alt="Your logo here" typeof="foaf:Image" />

<!-- END OUTPUT from 'core/themes/classy/templates/field/image.html.twig' -->



<!-- END OUTPUT from 'core/themes/classy/templates/field/image-formatter.html.twig' -->


            </div>


<!-- END OUTPUT from 'themes/compony/components/field/field/field.html.twig' -->


    </div>

    <div class="group-right">
      <h2>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--node--field-footer-title--sponsor-content.html.twig
   * field--node--field-footer-title.html.twig
   * field--node--sponsor-content.html.twig
   * field--field-footer-title.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/compony/components/field/field/field.html.twig' -->



  <div class="field field--name-field-footer-title field--type-string field__items">
    
                  Supported by no-one?
            </div>


<!-- END OUTPUT from 'themes/compony/components/field/field/field.html.twig' -->

</h2>
      

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--node--field-footer-content--sponsor-content.html.twig
   * field--node--field-footer-content.html.twig
   * field--node--sponsor-content.html.twig
   * field--field-footer-content.html.twig
   x field--text-long.html.twig
   * field.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/field--text-long.html.twig' -->



  <div class="wysiwyg-content clearfix text-formatted field field--name-field-footer-content field--type-text-long field__items">
    
                  <p>We are looking for 1 sponsor to become the face of Compony for each country! </p>
<p>You could lead and support your local Frontend Drupal community.</p>
<p><a href="../supported-by-you.html">Become the local face of Compony</a></p>

            </div>


<!-- END OUTPUT from 'core/themes/classy/templates/field/field--text-long.html.twig' -->


    </div>
  </div>

  
  </div>
</div>


<!-- END OUTPUT from 'themes/compony/components/block/block--footer-sponsor-block/block--footer-sponsor-block.html.twig' -->


          </footer>
  

<!-- END OUTPUT from 'themes/compony/components/region/region--footer/region--footer.html.twig' -->


  </div>

<!-- END OUTPUT from 'themes/compony/components/page/page.html.twig' -->


  </div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/off-canvas-page-wrapper.html.twig' -->


    
    <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/22","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"classy\/base,classy\/messages,cleanreplacecommand\/library,codesnippet\/codesnippet.highlightjs,codesnippet\/codesnippet.style.github,compony\/ajax-button,compony\/better-ajax-progress,compony\/block--footer-sponsor-block,compony\/block--page-title-block,compony\/block--system-menu-block--account,compony\/block--views-block--my-collections-button-list,compony\/breadcrummy,compony\/fieldset,compony\/form,compony\/form-item,compony\/form-item__label,compony\/global,compony\/micromodal,compony\/node--component--full,compony\/node--component-collection--button,compony\/text-dropdown,compony\/trapfocus,compony\/user--compact,compony\/view-filter-searchglass,compony\/wysiwyg-content,core\/html5shiv,core\/jquery.form,core\/normalize,system\/base,views\/views.module","theme":"compony","theme_token":null},"ajaxTrustedUrl":{"form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM":true,"\/component\/form-item?ajax_form=1":true,"\/search":true},"ajax":{"edit-submit--2":{"event":"click","callback":"::ajaxSubmit","url":"\/component\/form-item?ajax_form=1","dialogType":"ajax","submit":{"_triggering_element_name":"op","_triggering_element_value":"Download component"}},"edit-submit":{"event":"click","callback":"::ajaxSubmit","url":"\/component\/form-item?ajax_form=1","dialogType":"ajax","submit":{"_triggering_element_name":"op","_triggering_element_value":"Download component"}}},"user":{"uid":0,"permissionsHash":"310a0070dd3bfd8e9dcba6703943b4aff23c04ff7a472c1127831b5d4a3d824e"}}</script>
<script src="../core/assets/vendor/jquery/jquery.min-v=3.4.1.js"></script>
<script src="../core/assets/vendor/jquery-once/jquery.once.min-v=2.2.0.js"></script>
<script src="../core/misc/drupalSettingsLoader-v=8.8.1.js"></script>
<script src="../core/misc/drupal-v=8.8.1.js"></script>
<script src="../core/misc/drupal.init-v=8.8.1.js"></script>
<script src="../themes/compony/components/trapfocus/trapfocus-v=8.8.1.js" defer></script>
<script src="../core/misc/progress-v=8.8.1.js"></script>
<script src="../core/misc/ajax-v=8.8.1.js"></script>
<script src="../core/themes/stable/js/ajax-v=8.8.1.js"></script>
<script src="../themes/compony/components/_global/dist/script-v=8.8.1.js" defer></script>
<script src="../themes/compony/components/better-ajax-progress/dist/better-ajax-progress-v=8.8.1.js" defer></script>
<script src="../themes/compony/components/text-dropdown/dist/text-dropdown-v=8.8.1.js" defer></script>
<script src="../modules/contrib/cleanreplacecommand/js/cleanReplace-qzfoxf.js"></script>
<script src="../core/assets/vendor/jquery-form/jquery.form.min-v=4.22.js"></script>
<script src="../themes/compony/components/ajax-button/dist/ajax-button-v=8.8.1.js" defer></script>
<script src="../themes/compony/components/block/block--system-menu-block/block--system-menu-block--account/dist/block--system-menu-block--account-v=8.8.1.js" defer></script>
<script src="../libraries/codesnippet/lib/highlight/highlight.pack-v=8.8.1.js"></script>
<script src="../modules/contrib/codesnippet/js/codesnippet-v=8.8.1.js"></script>
<script src="../themes/compony/components/micromodal/micromodal.min-v=8.8.1.js" defer></script>
<script src="http://compony.docker.amazee.io/themes/compony/components/block/block--views-block--my-collections-button-list/dist/block--views-block--my-collections-button-list.js?v=8.8.1" defer></script>


          <script src="https://glasslytics.com/t/5cc338bd47a1757e3bd2302c.js" type="text/javascript" async></script>
      </body>
</html>

<!-- END OUTPUT from 'themes/compony/components/html/html.html.twig' -->

